.product{
    display: inline-block;
    margin-top: 30px;
    margin-left: 10px;
    border: 1px solid black;
    width: 200px;
    text-align: center;
    justify-content: center;
    border-radius: 10px;
}
.product img{
    width: 200px;
    display: block;
    margin-top: 20px;
}